# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env/
.venv/
env/
ENV/

# IDE / editor stuff
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Database (local only)
db.sqlite3

# Static & media (collected/generated)
staticfiles/
media/

# Logs
*.log
